
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
ul li{
    list-style-type: none;
}
/*header*/
.navbar{
    padding: 1rem 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.logo{
    height: 4rem;
}
.menu-list{
    display: flex;
}
.menu-item{
    padding: 0 1rem;
}
.menu-link{
    position: relative;
    font-size: 1rem;
    letter-spacing: 0.1rem;

}
.active:after{
    content: "";
    position: absolute;
    background-color: rgba(232, 130, 6, 0.914);
    height: 0.25rem;
    width: 100%;
    left: 0;
    bottom: -0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    animation: appear 0.3s linear;
}
@keyframes appear {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.menu-link:hover{
    color: rgb(251, 134, 0);
}
.menu-link:after:hover{
    width: 100%;
}
.menu-action{
    display: flex;
}
.menu-action-item{
    padding: 0 0.5rem;
}
.item-icon{
    font-size: 1.25rem;
}
.badge{
    position: absolute;
    top: 35px;
    right: 13.3rem;
    z-index: 100;
    width: 1rem;
    height: 1rem;
    background-color: rgb(221, 1, 1);
    border: none;
    border-radius: 50%;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cart-num{
    font-size: 0.75rem;
    position: absolute;
    right: 5px;
    top: 1px;
    font-weight: 600;
}

/*body*/
main {
    padding: 1rem 12rem;
}
.banner{
    display: flex;
}
.banner-content{
    flex: 5;
}
.line{
    width: 2rem;
    position: absolute;
    top: 125px;
    left: 17rem;
    color: black;
    font-weight: 600;
}
.big-p{
    margin: 1rem 0;
    font-size: 5rem;    
    font-weight: 800;
}
.small-p{
    margin: 1rem 0;
    font-size: 1rem;
    letter-spacing: .1rem;
    line-height: 1.8;
}
.btn-section{
    margin: 1rem 0;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.btn-explore{
    flex: 6;
    margin:0 2rem 0 0;
    height: 3rem;
    width: 8rem;
    background-color: rgb(254, 113, 12);
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    transition: 0.4s;
}
.btn-explore:hover{
    -webkit-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.65); 
    box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.65);
}
.btn-play{
    flex: 6;
    margin:0 0 0 2rem;
    align-items: center;
    justify-content: space-around;
}
.play{
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
    border: none;
    margin: 0;
    font-size: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.35); 
    box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.35);
    transition: 0.2s;
}
.play:hover{
    -webkit-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.65); 
    box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.65);
}
.content-btn{
    color: black;
    font-size: 1rem;
    font-weight: 500;
}
.brand-logo{
    display: flex;
    width: 100%;
    align-items: center;
    opacity: 40%;
}
.brand-img{
    padding: 4rem 5rem 2rem 0;
    justify-content: center;
    align-items: center;
}
.img-brand{
    height: 4rem;

}
.banner-img{
    flex: 7;
}
.bg-img{
    position: relative;
    height: 70%;
    width: 70%;
    background-color: rgb(8, 59, 69);
    border: 2rem solid rgb(195, 248, 238); 
    border-top-left-radius: 12rem;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 12rem;
    margin: 0 8rem;
}
.imgMain{
    height: 15rem;
    align-items: center;
    position: absolute;
    top: 5rem;
    right: 3rem;
    
}
.shape-1{
    position: absolute;
    color: white;
    border: 0.6rem solid rgb(255, 64, 17);
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    background-color: #ff6a45;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.35); 
    box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.35);
    transition: .5s;
}
.shape-1 i{
    margin: 0.4rem;
}
.shape-1:hover{
    background-color: #ff8f0f;
   border: 0.9rem solid rgb(255, 106, 0);
   font-size: 1.5rem;
   color: red;
}
.shape-2{
    position: absolute;
    top: 15rem;
    right: 18rem;
    color: rgb(246, 255, 0);
    width: 18rem;
    height: 3rem;
    z-index: 100;
    font-size: 1.5rem;
    background-color: #ffffff;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.35); 
    box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.35);
}
.shape-2 i{
    margin: 0.7rem 0.5rem;
}
.shape-3{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: -7rem;
    color: rgb(246, 255, 0);
    width: 10rem;
    height: 12rem;
    z-index: 100;
    font-size: 1.5rem;
    background-color: #ffffff;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.35); 
    box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.35);
}
.product-name{
    color: black;
    opacity: 50%;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    font-weight: 500;
}
.price{
    color:black;
    font-size: 1rem;
    font-weight: 600;
}
.img-shape-3{
    height: 8rem;
}
.shape-4{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 22rem;
    right: 7rem;
    color: rgb(246, 255, 0);
    width: 10rem;
    height: 12rem;
    z-index: 100;
    font-size: 1.5rem;
    background-color: #ffffff;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.35); 
    box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.35);
}
.img-shape-4{
    height: 8rem;
}

.title-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.title-cover{
    display: flex;
    align-items: center;
}
.title-section i{
    font-size: 1rem;
    font-weight: normal;
    margin: 0 1rem 0 0;
}
.title h1{
    font-size: 2rem
}
.title small{
    font-size: 1rem;
}
.PrevButton{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    float: left !important;
    cursor: pointer;
}
.NextButton{
    color: rgb(0, 0, 0);
    font-size: 2rem;                   
    float: right !important;
    cursor: pointer;

}
.sld-btn i{
    font-size: 2rem;
    margin: 0 1rem 0 0;
}
.sld-btn i:hover{
    -webkit-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.65); 
    box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.65);
}
/*main*/
/*popular*/
.popular-section{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}
.flex-6{
    flex: 6;
}
.sliderButton{
flex: 6;
display: flex;
padding: 0 2rem;
justify-content: flex-end;
}
.sld-btn i{
    height: 2rem;
    width: 2rem;
    background-color: #fff;
    border-radius: 30%;
    -webkit-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.35); 
    box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.35);
    align-items: center;
    text-align: center;
    margin: 0 1rem;
}

.popular-sld{

}
.ctn-sld{
    display: none;
}
.slider-item{
    display: none;
    overflow: hidden;
    float: right;
}
.active-sld{
    display: inline-block;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.content{
    display: flex;
    margin: 3rem 0;
    padding: 0 2rem;
    align-items: center;
}
.p-slider{
    position: relative;
    margin: 0 0 0 2rem;
}
.p-slider p{
    line-height: 1.8;
    letter-spacing: 1px;
}
.shape-pa-1{
    background-image: linear-gradient(to bottom right, rgb(64, 226, 156), rgb(255, 255, 255));
    width: 12rem;
    height: 12rem;
    position: absolute;
    z-index: -50;
    top: -2rem;
    left: -2rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    
}
.p-slider-2{
    position: relative;
    padding: 0 2rem 0 0;
}
.p-slider-2 p{
    line-height: 1.8;
    letter-spacing: 1px;
}

.shape-pa-2{
    background-image: linear-gradient(to bottom right, rgb(64, 226, 156), rgb(255, 255, 255));
    width: 12rem;
    height: 12rem;
    position: absolute;
    z-index: -50;
    top: -2rem;
    left: -2rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    
}

.btn-seemore{
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #52d294;
    color: #fff;
    border: none;
    border-bottom-right-radius: 4rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 4rem;
}

.img-slider-1{
    height: 20rem;
    width: 100%;
    margin: 0 2rem 0 0;
    background-color: rgb(8, 59, 69);
    border-bottom-left-radius: 8rem;
    border-top-left-radius: 0.7rem;
    border-bottom-right-radius: 2.5rem;
    border-top-right-radius: 8rem;
}
.img-slider-2{
    height: 20rem;
    width: 100%;
    margin: 0 0 0 2rem;
    background-color: rgb(8, 59, 69);
    border-bottom-right-radius: 8rem;
    border-top-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    border-top-left-radius: 8rem;
}
.ctn-3{
    position: relative;
    display: flex;
    height: 20rem;
    background-color: rgb(8, 59, 69);
    border-bottom-left-radius: 8rem;
    border-top-left-radius: 0.7rem;
    border-bottom-right-radius: 2.5rem;
    border-top-right-radius: 8rem;
}
.img-ctn-1{
    align-items: center;
}
.sld-img-sub{
    height: 15rem;
    margin: 2rem 10rem;
}
.img-ctn-2{
    padding: 0 3.6rem;
}
.wrapper-img-ctn-2{
    background-color: #fff;
height: 15rem;
width: 15rem;
border-radius: 50%;
}

.sld-img-sub-ctn-3{
    height: 10rem;
}
.sld-img-sub-2{
    height: 5rem;
    margin: 5rem 0.8rem;
    
    
}
.img-ctn-3{
    flex: 4;
}

.content-sld-3{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: -4rem;
    color: rgb(246, 255, 0);
    width: 10rem;
    height: 12rem;
    z-index: 100;
    font-size: 1.5rem;
    background-color: #ffffff;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.35); 
    box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.35);
}
.slider-info{
    margin: 2rem 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 5rem;
    line-height: 1.8;
    padding: 0 18rem;
}
.flag{
    height: 2rem;
}
.p-info{
    padding: 0 10rem;
}
/*collections*/
.collections{
}
.sub-title{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.clt-content{
    border-right: 2rem solid rgb(201, 245, 245);
    border-bottom: 2rem solid rgb(201, 245, 245);
    background-color: rgb(8, 59, 69);
    display: flex;
    width: 100%;
    height: 22rem;
    padding: 2rem 0 0 0;
    margin: 4rem 0rem;
    border-bottom-left-radius: 8rem;
    border-top-left-radius: 0.7rem;
    border-bottom-right-radius: 2.5rem;
    border-top-right-radius: 8rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.p-card-collection{
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
}
.clt-img{
    width: 80%;
}
.sub-title span{
    font-size: 1rem;
    font-weight: 500;
    color:#fff;
    align-items: center;
}
.product-collections{
    display: flex;
    position: relative;
    cursor: pointer;
    flex-direction: column;
    padding: 1rem;
    margin: 0 2rem;
    width: 15rem;
    height: 18rem;
    z-index: 100;
    align-items: center;
    background-color: #ffffff;
    border-top-right-radius: 3rem;
    transition: 0.5s;
}
.btn-add{
    height: 2rem;
    width: 5rem;
    margin: 5rem 0 0 0 ;
    display: none;
    border-radius: 0.7rem;
    border: none;
    background-color: #fff;
    overflow: hidden;
}
.btn-add:hover{
    background-color: rgb(98, 96, 96);
    color: #fff;
}
.img-p-clt{
    height: 10rem;
}
.product-collections:hover{
    position: relative;
    bottom: 55px;
    left:0;
    height: 25rem;
    background-color: #ff8f0f;
}
.product-collections:hover .btn-add{
    display: block;
}
.note{
    position: relative;
    align-items: center;
    text-align: center;
    padding: 2rem 15rem;
    margin: 2rem 5rem;
    border: 1px solid #ff8f0f;
    border-top-right-radius: 7rem;
    border-bottom-right-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 7rem;
}
.quote-icon{
    height: 5rem;
    position: absolute;
    left: 4rem;
    top: -2rem;
    z-index: -50;
    opacity: 20%;
}
.note-content{
    justify-content: center;
}
.note-star{
    padding: 1rem 0;
    color: yellow;
    font-size: 1.5rem;
}
.p-note{
    padding: 1rem 0rem;
    text-align: center;
    letter-spacing: 0.7px;
    line-height: 1.8;
}
.written{
    padding: 1rem 0rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.note-content small{
    font-size: 1rem;

}
/*contact*/
.contact{
    margin: 3rem 0;
    padding: 5rem 0;

}
.contact-wrapper{
    display: flex;
    background-color:teal;
    width: 100%;
    height: 8rem;
    border-radius: 0.7rem;
    padding: 2rem;
}
.contact-title{
}
.contact-input{
    background-color: #fff;
    width: fit-content;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    border-radius: 0.7rem;
}
.contact-input input{
    height: 3rem;
    width: 65%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
  

}
.contact-input button{
    align-items: center;
    text-align: center;
    border: none;
    background-color: rgb(8, 59, 69);
    height: 3rem;
    width: 25%;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border-radius: 0.7rem;
    transition: 0.4s;
}
.contact-input button:hover{
    -webkit-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.65); 
    box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.65);
}
footer{
    padding: 2rem 5rem;
}
.payments{
    padding: 1rem 15rem;
    align-items: center;
    justify-content: center;
}
.payments img{
    height: 2rem;
    margin: 0 4rem;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    padding: 5rem 0;
    margin: 2rem 0;
}
.logo-footer{
    flex: 2;
    position: relative;
    padding: 0 10rem 0 0;
}
.shape{
    background-image: linear-gradient(to bottom right, rgb(64, 226, 156), rgb(255, 255, 255));
    width: 15rem;
    height: 15rem;
    position: absolute;
    z-index: -50;
    top: -2rem;
    left: -2rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    
}
.empty{
    flex: 3;
}
.logo-footer img{
    height: 5rem;
}
.logo-footer p{
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.8;
}
.info-footer{
    display: flex;
    flex:6;
    padding: 0 0 0 5rem;
    align-items: center;
    text-align: left;
}
.info-item{
    flex: 3;
}
.info-item h3{
    font-weight: 600;
    padding-bottom: 1.5rem;
}
.info-item li{
    padding: 0.3rem 0;
}
.ft-3{
    display: flex;
    margin-top: 1rem;
}
.footer-bottom{
    display: flex;
}
.social-icon{
 color: wheat;
}
.social-icon i{
    font-size: 1.5rem;
    padding: 0.5rem 1rem; 
    align-items: flex-start;
}
.copyright{
    flex: 9;
    text-align: end;
    font-weight: 500;
}